@use "../util/" as *;

.header-menu-dropdown,
.sidebar-menu-dropdown {
  display: flex;
  align-items: center;
  font-size: $font-size-100;
  color: $color-text-default;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 200ms ease;

  svg {
    margin: {
      left: 0.8rem;
    }
    transition: all 200ms ease;
  }

  path {
    transition: stroke 200ms ease;
  }

  &:hover,
  &:hover path {
    color: $color-text-dark;
    stroke: $color-background-dark;
  }
}

.header-menu-dropdown {
  &.header-menu-dropdown--active {
    color: $color-text-dark;

    svg {
      transform: rotate(180deg);
    }

    path {
      stroke: $color-background-dark;
    }
  }
}

.sidebar-menu-dropdown {
  font-size: inherit;
  line-height: 1.6rem;
  cursor: pointer;

  svg {
    margin: {
      left: 1.5rem;
    }
  }

  &.sidebar-menu-dropdown--active {
    color: $color-text-dark;

    svg {
      transform: rotate(180deg);
    }

    path {
      stroke: $color-background-dark;
    }
  }
}

.button {
  display: block;
  padding: 1.3rem 1.4rem;
  max-width: 100%;
  width: 10.4rem;
  line-height: 1.4rem;
  text-align: center;
  border-radius: 1.4rem;
  transition: all 200ms ease;

  &:hover {
    color: $color-text-dark;
  }

  &--transparent {
    border: 1px solid $color-border-default;

    &:hover {
      border-color: $color-border-dark;
    }
  }
}
