@use "../abstract/" as *;
@use "../util/" as *;

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  padding: 2.1rem 4rem;

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo-container {
    width: 8.4rem;
    height: 2.7rem;

    .header__logo {
      display: inline-block;
      width: 100%;
      min-width: 8.4rem;
      min-height: 2.7rem;
      @include cover-background("./assets/logo.svg");
    }
  }

  .header__menu-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: {
      left: 6.2rem;
      right: 6.2rem;
    }
    font-size: $font-size-100;

    .header-menu {
      position: relative;

      &:not(:last-child) {
        margin-right: 3.9rem;
      }

      .header-nav-link {
        transition: color 200ms ease;

        &:hover {
          color: $color-text-dark;
        }
      }

      .header-menu-collapse {
        position: absolute;
        top: 3.5rem;
        right: 0;
        display: none;
        padding: 2.4rem;
        background-color: $color-background-light;
        border-radius: 1.4rem;
        box-shadow: 0 5px 40px 5px hsla(0, 0%, 8%, 0.15);

        &.show {
          display: block;
        }
      }

      &:nth-child(2) {
        .header-menu-collapse {
          left: 0;
          width: 11.6rem;
          padding: {
            top: 2.5rem;
            bottom: 2.5rem;
          }
        }

        .header-item:not(:last-child) {
          margin-bottom: 1.8rem;
        }
      }

      .header-item:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      .header-nav-link {
        display: flex;
      }

      .header-img-container {
        display: flex;
        justify-content: center;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 1.5rem;
      }
    }
  }

  .header__button-container {
    display: flex;
    font-size: $font-size-100;

    .button:not(:last-child) {
      margin-right: 0.7rem;
    }
  }
}
