@use "../abstract/" as *;
@use "../util/" as *;

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99998;
  width: 100%;
  height: 100vh;
  background: transparent;
  pointer-events: none;
  overflow: hidden;

  @include breakpoint-up(large) {
    display: none;
  }

  &.sidebar--active {
    pointer-events: all;

    .sidebar__container {
      transform: translateX(0);
    }
  }

  .sidebar__container {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    padding: 8.3rem 2rem 0;
    width: 24rem;
    height: 100%;
    background-color: $color-background-light;
    transition: transform 500ms ease;

    .sidebar__element {
      margin: {
        left: 0.4rem;
      }
    }

    .sidebar-menu {
      margin {
        left: 0.4rem;
      }
      font-size: $font-size-200;
      line-height: 1.6rem;

      &:not(:last-child) {
        margin: {
          bottom: 2.6rem;
        }
      }

      a {
        transition: color 200ms ease;

        &:hover {
          color: $color-text-dark;
        }
      }

      .sidebar-menu-collapse {
        display: none;

        &.show {
          display: block;
        }
      }

      .sidebar-list {
        margin: {
          top: 3.1rem;
          left: 2.4rem;
        }
      }

      &:nth-child(2) .sidebar-list {
        margin: {
          top: 2.8rem;
        }
      }

      .sidebar-item {
        &:not(:last-child) {
          margin: {
            bottom: 2.2rem;
          }
        }
      }

      .sidebar-nav-link {
        display: flex;

        .sidebar-img-container {
          display: flex;
          justify-content: center;
          margin: {
            right: 1.4rem;
          }
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

.modal--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: $color-background-transparent;

  @include breakpoint-up(large) {
    display: none;
  }

  &.hidden {
    display: none;
  }
}
