@use "../util/" as *;

body {
  font-family: "Epilogue", sans-serif;
  font-size: $font-size-300;
  color: $color-text-default;
  font-weight: $font-weight-medium;
  background-color: $color-background-default;
}
